In [34]:
import numpy as np
import pandas as pd
import seaborn as sns
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [18]:
data1 = pd.read_csv('original.csv')

In [19]:
data1.head()

    mpg  cyl  displ   hp  weight  accel  yr  origin                       name
0  18.0    8  307.0  130    3504   12.0  70       1  chevrolet chevelle malibu
1  15.0    8  350.0  165    3693   11.5  70       1          buick skylark 320
2  18.0    8  318.0  150    3436   11.0  70       1         plymouth satellite
3  16.0    8  304.0  150    3433   12.0  70       1              amc rebel sst
4  17.0    8  302.0  140    3449   10.5  70       1                ford torino

In [20]:
data1

,mpg,cyl,displ,hp,weight,accel,yr,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
5,15.0,8,429.0,198,4341,10.0,70,1,ford galaxie 500
6,14.0,8,454.0,220,4354,9.0,70,1,chevrolet impala
7,14.0,8,440.0,215,4312,8.5,70,1,plymouth fury iii
8,14.0,8,455.0,225,4425,10.0,70,1,pontiac catalina
9,15.0,8,390.0,190,3850,8.5,70,1,amc ambassador dpl
10,15.0,8,383.0,170,3563,10.0,70,1,dodge challenger se
11,14.0,8,340.0,160,3609,8.0,70,1,plymouth 'cuda 340
12,15.0,8,400.0,150,3761,9.5,70,1,chevrolet monte carlo
13,14.0,8,455.0,225,3086,10.0,70,1,buick estate wagon (sw)
14,24.0,4,113.0,95,2372,15.0,70,3,toyota corona mark ii
15,22.0,6,198.0,95,2833,15.5,70,1,plymouth duster
16,18.0,6,199.0,97,2774,15.5,70,1,amc hornet
17,21.0,6,200.0,85,2587,16.0,70,1,ford maverick
18,27.0,4,97.0,88,2130,14.5,70,3,datsun pl510
19,26.0,4,97.0,46,1835,20.5,70,2,volkswagen 1131 deluxe sedan
20,25.0,4,110.0,87,2672,17.5,70,2,peugeot 504
21,24.0,4,107.0,90,2430,14.5,70,2,audi 100 ls
22,25.0,4,104.0,95,2375,17.5,70,2,saab 99e
23,26.0,4,121.0,113,2234,12.5,70,2,bmw 2002
24,21.0,6,199.0,90,2648,15.0,70,1,amc gremlin
25,10.0,8,360.0,215,4615,14.0,70,1,ford f250
26,10.0,8,307.0,200,4376,15.0,70,1,chevy c20
27,11.0,8,318.0,210,4382,13.5,70,1,dodge d200
28,9.0,8,304.0,193,4732,18.5,70,1,hi 1200d
29,27.0,4,97.0,88,2130,14.5,71,3,datsun pl510
...,...,...,...,...,...,...,...,...,...
362,28.0,4,112.0,88,2605,19.6,82,1,chevrolet cavalier
363,27.0,4,112.0,88,2640,18.6,82,1,chevrolet cavalier wagon
364,34.0,4,112.0,88,2395,18.0,82,1,chevrolet cavalier 2-door
365,31.0,4,112.0,85,2575,16.2,82,1,pontiac j2000 se hatchback
366,29.0,4,135.0,84,2525,16.0,82,1,dodge aries se
367,27.0,4,151.0,90,2735,18.0,82,1,pontiac phoenix
368,24.0,4,140.0,92,2865,16.4,82,1,ford fairmont futura
369,36.0,4,105.0,74,1980,15.3,82,2,volkswagen rabbit l
370,37.0,4,91.0,68,2025,18.2,82,3,mazda glc custom l
371,31.0,4,91.0,68,1970,17.6,82,3,mazda glc custom
372,38.0,4,105.0,63,2125,14.7,82,1,plymouth horizon miser
373,36.0,4,98.0,70,2125,17.3,82,1,mercury lynx l
374,36.0,4,120.0,88,2160,14.5,82,3,nissan stanza xe
375,36.0,4,107.0,75,2205,14.5,82,3,honda accord
376,34.0,4,108.0,70,2245,16.9,82,3,toyota corolla
377,38.0,4,91.0,67,1965,15.0,82,3,honda civic
378,32.0,4,91.0,67,1965,15.7,82,3,honda civic (auto)
379,38.0,4,91.0,67,1995,16.2,82,3,datsun 310 gx
380,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
381,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
382,26.0,4,156.0,92,2585,14.5,82,1,chrysler lebaron medallion
383,22.0,6,232.0,112,2835,14.7,82,1,ford granada l
384,32.0,4,144.0,96,2665,13.9,82,3,toyota celica gt
385,36.0,4,135.0,84,2370,13.0,82,1,dodge charger 2.2
386,27.0,4,151.0,90,2950,17.3,82,1,chevrolet camaro
387,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
388,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
389,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
390,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
391,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [21]:
data1 = data1.drop('name', axis = 1)

In [22]:
data1 = data1.replace({'origin':{1:'America',2:'Asia',3:'Europe'}})

In [23]:
data1.head()

    mpg  cyl  displ   hp  weight  accel  yr   origin
0  18.0    8  307.0  130    3504   12.0  70  America
1  15.0    8  350.0  165    3693   11.5  70  America
2  18.0    8  318.0  150    3436   11.0  70  America
3  16.0    8  304.0  150    3433   12.0  70  America
4  17.0    8  302.0  140    3449   10.5  70  America

In [24]:
data1

      mpg  cyl  displ   hp  weight  accel  yr   origin
0    18.0    8  307.0  130    3504   12.0  70  America
1    15.0    8  350.0  165    3693   11.5  70  America
2    18.0    8  318.0  150    3436   11.0  70  America
3    16.0    8  304.0  150    3433   12.0  70  America
4    17.0    8  302.0  140    3449   10.5  70  America
5    15.0    8  429.0  198    4341   10.0  70  America
6    14.0    8  454.0  220    4354    9.0  70  America
7    14.0    8  440.0  215    4312    8.5  70  America
8    14.0    8  455.0  225    4425   10.0  70  America
9    15.0    8  390.0  190    3850    8.5  70  America
10   15.0    8  383.0  170    3563   10.0  70  America
11   14.0    8  340.0  160    3609    8.0  70  America
12   15.0    8  400.0  150    3761    9.5  70  America
13   14.0    8  455.0  225    3086   10.0  70  America
14   24.0    4  113.0   95    2372   15.0  70   Europe
15   22.0    6  198.0   95    2833   15.5  70  America
16   18.0    6  199.0   97    2774   15.5  70  America
17   21.0    6  200.0   85    2587   16.0  70  America
18   27.0    4   97.0   88    2130   14.5  70   Europe
19   26.0    4   97.0   46    1835   20.5  70     Asia
20   25.0    4  110.0   87    2672   17.5  70     Asia
21   24.0    4  107.0   90    2430   14.5  70     Asia
22   25.0    4  104.0   95    2375   17.5  70     Asia
23   26.0    4  121.0  113    2234   12.5  70     Asia
24   21.0    6  199.0   90    2648   15.0  70  America
25   10.0    8  360.0  215    4615   14.0  70  America
26   10.0    8  307.0  200    4376   15.0  70  America
27   11.0    8  318.0  210    4382   13.5  70  America
28    9.0    8  304.0  193    4732   18.5  70  America
29   27.0    4   97.0   88    2130   14.5  71   Europe
..    ...  ...    ...  ...     ...    ...  ..      ...
362  28.0    4  112.0   88    2605   19.6  82  America
363  27.0    4  112.0   88    2640   18.6  82  America
364  34.0    4  112.0   88    2395   18.0  82  America
365  31.0    4  112.0   85    2575   16.2  82  America
366  29.0    4  135.0   84    2525   16.0  82  America
367  27.0    4  151.0   90    2735   18.0  82  America
368  24.0    4  140.0   92    2865   16.4  82  America
369  36.0    4  105.0   74    1980   15.3  82     Asia
370  37.0    4   91.0   68    2025   18.2  82   Europe
371  31.0    4   91.0   68    1970   17.6  82   Europe
372  38.0    4  105.0   63    2125   14.7  82  America
373  36.0    4   98.0   70    2125   17.3  82  America
374  36.0    4  120.0   88    2160   14.5  82   Europe
375  36.0    4  107.0   75    2205   14.5  82   Europe
376  34.0    4  108.0   70    2245   16.9  82   Europe
377  38.0    4   91.0   67    1965   15.0  82   Europe
378  32.0    4   91.0   67    1965   15.7  82   Europe
379  38.0    4   91.0   67    1995   16.2  82   Europe
380  25.0    6  181.0  110    2945   16.4  82  America
381  38.0    6  262.0   85    3015   17.0  82  America
382  26.0    4  156.0   92    2585   14.5  82  America
383  22.0    6  232.0  112    2835   14.7  82  America
384  32.0    4  144.0   96    2665   13.9  82   Europe
385  36.0    4  135.0   84    2370   13.0  82  America
386  27.0    4  151.0   90    2950   17.3  82  America
387  27.0    4  140.0   86    2790   15.6  82  America
388  44.0    4   97.0   52    2130   24.6  82     Asia
389  32.0    4  135.0   84    2295   11.6  82  America
390  28.0    4  120.0   79    2625   18.6  82  America
391  31.0    4  119.0   82    2720   19.4  82  America

[392 rows x 8 columns]

In [27]:
df = pd.get_dummies(data1,columns=['origin'])

In [28]:
df.head()

,mpg,cyl,displ,hp,weight,accel,yr,origin_America,origin_Asia,origin_Europe
0,18.0,8,307.0,130,3504,12.0,70,1,0,0
1,15.0,8,350.0,165,3693,11.5,70,1,0,0
2,18.0,8,318.0,150,3436,11.0,70,1,0,0
3,16.0,8,304.0,150,3433,12.0,70,1,0,0
4,17.0,8,302.0,140,3449,10.5,70,1,0,0

In [32]:
X = df.drop(['mpg','origin_Europe'],axis=1)

In [33]:
y = df['mpg']

In [39]:
X_train,X_test,y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state =1)

In [40]:
X_train.shape, y_train.shape, X_test.shape, y_test.shape

((274, 8), (274,), (118, 8), (118,))

In [41]:
X_test.head()

     cyl  displ   hp  weight  accel  yr  origin_America  origin_Asia
81     4  120.0   97    2506   14.5  72               0            0
165    4   97.0   75    2171   16.0  75               0            0
351    4  108.0   75    2350   16.8  81               0            0
119    4  121.0  112    2868   15.5  73               0            1
379    4   91.0   67    1995   16.2  82               0            0

In [42]:
y_test.head()

81     23.0
165    29.0
351    32.4
119    19.0
379    38.0
Name: mpg, dtype: float64

In [44]:
linearRegression = LinearRegression().fit(X_train,y_train)

In [48]:
linearRegression.score(X_train,y_train)

0.8205337631867142

In [49]:
linearRegression.coef_

array([-2.32509254e-01,  2.45825956e-02, -1.48890324e-03, -7.61188242e-03,
        2.80132661e-01,  7.74684971e-01, -2.72039594e+00, -1.21355105e-01])

In [50]:
linearRegression.intercept_

-18.80364077623938

In [56]:
y_test.reshape(118,1)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: reshape is deprecated and will raise in a subsequent release. Please use .values.reshape(...) instead
  """Entry point for launching an IPython kernel.

array([[23. ],
       [29. ],
       [32.4],
       [19. ],
       [38. ],
       [33.5],
       [26. ],
       [14. ],
       [28. ],
       [32.4],
       [21.5],
       [41.5],
       [17. ],
       [33.5],
       [29. ],
       [17. ],
       [36. ],
       [43.4],
       [14. ],
       [20. ],
       [26. ],
       [16. ],
       [15. ],
       [15.5],
       [15. ],
       [18.5],
       [31.5],
       [20. ],
       [21. ],
       [30. ],
       [19.2],
       [24.5],
       [13. ],
       [22. ],
       [20.5],
       [17.5],
       [18. ],
       [19.2],
       [38. ],
       [27. ],
       [15.5],
       [14. ],
       [20. ],
       [19. ],
       [18. ],
       [15. ],
       [11. ],
       [31. ],
       [22. ],
       [13. ],
       [17. ],
       [20.5],
       [28. ],
       [32. ],
       [29.8],
       [18. ],
       [28.8],
       [21. ],
       [33.5],
       [36.1],
       [38. ],
       [28. ],
       [37. ],
       [19.9],
       [22.5],
       [19. ],
       [19. ],
       [14. ],
       [31.9],
       [12. ],
       [37. ],
       [19.2],
       [13. ],
       [34.3],
       [26. ],
       [35.7],
       [14. ],
       [13. ],
       [13. ],
       [27.2],
       [18.6],
       [29. ],
       [37.2],
       [33. ],
       [13. ],
       [22.4],
       [44.6],
       [27.4],
       [31. ],
       [24. ],
       [28. ],
       [17.6],
       [15. ],
       [11. ],
       [12. ],
       [26.8],
       [13. ],
       [21.6],
       [20.8],
       [16.9],
       [20. ],
       [26.5],
       [18. ],
       [26. ],
       [24. ],
       [29.5],
       [20.2],
       [32.8],
       [14. ],
       [16. ],
       [31.8],
       [30.7],
       [34.1],
       [20. ],
       [15. ],
       [28.4],
       [20. ],
       [13. ]])

In [57]:
linearRegression.predict(y_test)

ValueError: Expected 2D array, got 1D array instead:
array=[23.  29.  32.4 19.  38.  33.5 26.  14.  28.  32.4 21.5 41.5 17.  33.5
 29.  17.  36.  43.4 14.  20.  26.  16.  15.  15.5 15.  18.5 31.5 20.
 21.  30.  19.2 24.5 13.  22.  20.5 17.5 18.  19.2 38.  27.  15.5 14.
 20.  19.  18.  15.  11.  31.  22.  13.  17.  20.5 28.  32.  29.8 18.
 28.8 21.  33.5 36.1 38.  28.  37.  19.9 22.5 19.  19.  14.  31.9 12.
 37.  19.2 13.  34.3 26.  35.7 14.  13.  13.  27.2 18.6 29.  37.2 33.
 13.  22.4 44.6 27.4 31.  24.  28.  17.6 15.  11.  12.  26.8 13.  21.6
 20.8 16.9 20.  26.5 18.  26.  24.  29.5 20.2 32.8 14.  16.  31.8 30.7
 34.1 20.  15.  28.4 20.  13. ].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [58]:
linearRegression.score(X_test,y_test)

0.8242172817490034